.dashboard
  %h4#greeting Welcome, Dr. Robert
  %a.btn#settings-button{ href: "#settings", role: "button", "data-toggle" => "modal" } Settings
  .clear
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#patients", "data-toggle" => "tab" } Patients
    %li
      %a{ href: "#payers", "data-toggle" => "tab" } Payers
  .tab-content
    .tab-pane.active#patients
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th First Name
            %th Last Name
            %th DOB
            %th Member ID
            %th Payer
        %tbody
          - @patients.each do |p|
            %tr
              %td 
                = p.first_name
              %td 
                = p.last_name
              %td 
                = p.dob
              %td 
                = p.member_id
              %td 
                = p.payer_name
      %a.btn.btn-primary{ href: "#add-patient", role: "button", "data-toggle" => "modal" } Add Patient
    .tab-pane#payers
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Name
            %th Payer ID
            %th Accepted
        %tbody
          - @payers.each do |p|
            %tr
              %td 
                = p.name
              %td 
                = p.payer_id
              %td
                %input.payer-accepted{ type: "checkbox", checked: p.accepted, "data-payer-id" => p.payer_id }
                .request-status
                  %span.label.label-info Saving...
                  %span.label.label-success Saved
= render partial: "modals/settings"
= render partial: "modals/add_patient"